.nav {
    display: flex;
}
.header {
    display: flex;
    justify-content: center;
    background-color: rgb(215, 135, 222);
}
.header img {
    height: 550px;
}
.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
}
.images img {
    height: 100%;
    width: 100%;
}